/* style sheet */

body {
  background-color: lightgrey;
  font-family: sans-serif, Arial, Helvetica;
}

h1 {
  font-size: 9.8em;
  margin: 0;
  padding: 0;
  margin-left: .15em;
}

h2 {
  font-size: 2em;
}

#mainSubtitle {
  margin: 0;
  padding: 0;
  margin-left: 1em;
  margin-top: 1.4em;
  width: 17em;
}

#small_mult_chart_descript_cont {
  position: relative;
  left: 48.5em;
  top: -46.5em;
}

#small_mult_chart_descript {
  width: 15.5em;
  opacity: 0;
}

#bottom_descript_cont {
  position: relative;
  padding: 3em;
  top: -30em;
}

#bottom_descript {
opacity: 0;
}

#main_chart_area {
  text-align: right;
  position: relative;
  right: 9em;
  display: block;
  top: -22.3em;
}

#small_mult_chart_area {
  text-align: left;
  position: relative;
  top: -16em;
  left: 1.5em;
}

td {
padding: 0.2em 0.2em;
}
