/* style sheet */

#main_chart_area {
  text-align: center;
  position: relative;
  top: 9em;
}

#small_mult_chart_area {
  text-align: center;
  position: relative;
  top: 22em;
}

#small_mult_table {
margin-left: auto;
margin-right: auto;
}

td {
padding: 0.2em 0.2em;
}
