/* style sheet */

#main_chart_area {
  text-align: center;
  position: relative;
  top: 9em;
}

#small_mult_chart_area {
  text-align: center;
  position: relative;
  top: 22em;
}

.grid-container {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 0;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}
