/* style sheet */

body {
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5em;
}

h1 {
  font-size: 10em;
  margin: 0;
}

p {
  font-size: 5em;
  line-height: 1.5em;
}

#main_chart_area_cont {
  background-color: green;
  width: 100%;
  text-align: center;
  margin: 5em;
}

#main_chart_area {
  display: inline-block;
  margin: 0 auto;
}

#small_mult_chart_title {
  font-weight: bold;
  margin: 0;
}

#small_mult_chart_title2 {
  font-size: 2.5em;
}

#small_mult_table_cont {
  background-color: green;
  width: 100%;
  text-align: center;
  margin: 5em;
}

.item {
  display: inline-block;
}

.row {
  display: block;
}

.small_mult_chart_descript1 {
  width: 23em;
  opacity: 0;
  font-size: 1.2em;
  line-height: 180%;
}

.small_mult_chart_descript2 {
  width: 23em;
  opacity: 0;
  font-size: 1.2em;
  line-height: 180%;
}

#bottom_descript1 {
opacity: 0;
font-size: 1.2em;
line-height: 180%;
}

#bottom_descript2 {
opacity: 0;
font-size: 1.2em;
line-height: 180%;
}

#main_chart_area {
  text-align: right;
}

#sm_mult_y_axis_label {
  text-anchor: "middle";
  transform: rotate(270deg);
  opacity: 0;
}

#sm_mult_x_axis_label {
  opacity: 0;
}

#horizLine {
  stroke-width: 2;
  color: grey;
}
